.introduction-section {
    display: flex;
    flex-wrap: unset;
    flex-direction: column;
    background-color: var(--color-navy);
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 1em;
    --section-icon: url('/user-data/images/intro-picture.jpg');
    font-family: var(--font-family-title);
}

.introduction-section__icon {
    position: inherit;
    width: 150px;
    height: 150px;
    background-color: #999b96;
    background-size: cover;
    border-radius: 50%;
    flex-shrink: 0;
}

.introduction-section__content {
    color: var(--color-white);
    font-size: .8em;
    font-variant: small-caps;
}

@media screen and (((orientation: landscape) and (min-height: 625px)) or ((orientation: portrait) and (min-width: 840px))) {
    .introduction-section {
        flex-direction: row;
    }
}