.language-select {
    display: flex;
    flex-direction: row;
    gap: .3em;
}

.language-menu {
    position: fixed;
    inset: auto auto .2em .2em;
    background-color: var(--color-white);
    padding: .2em;
    border: 2px solid var(--color-sky-blue-dark);
    opacity: 0.8;
}

.language-menu:hover {
    opacity: 1;
}

.language-icon {
    background-color: var(--color-sky-blue-dark);
    color: var(--color-white);
    border-radius: 50%;
    padding: .15em;
    width: 2em;
    height: 2em;
    text-align: center;
    display: inline-block;
}

#language-selector {
    border: 1px solid var(--color-sky-blue-dark);
    padding-left: .3em;
}