.main-content {
    /* block position because we defer it to scroll method */
    position: fixed;
    background-color: #78bdff;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100%;

    perspective: 2600px;
    font-family: var(--font-family-text);
}

.main-content__not-ios:before {
    content: "";
    position: fixed;
    top: -2vh;
    left: -2%;
    z-index: -1;

    background-image: url("/user-data/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1em);
    width: 104%;
    height: 104vh;
    overflow: hidden;
}

.scroll-spacer {
    position: absolute;
    top: 0;
    width: 1px;
}